/* The stylesheet for the group project*/
/* 
- Owner: Rahul Saravanabavan
- Date: Nov 22 2023
--------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

header{
    font-family: "Crimson Text", serif;
    position: fixed;
    left: 0;
    top: 0;
    height: 10px;
    font-family: sans-serif;
}

nav{
    display: flex;
    background-color: #000;
    width: 100%;
    position: fixed;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #f1fcff;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(0, 204, 255);
}
.logo{
    left: 10px;
    border-radius: 50%;
}
/* End Owner: Rahul Saravanabavan */

/* 
- Owner: Thiluxsaan Puvanendran
- Date: Nov 22 2023
*/
body{
    background-color: #f1fcff;
}
/* End Owner: Thiluxsaan Puvanendran */

/*
- Owner : Jackson Mitchell
- Date  : Nov 22 (template)
*/
#main-content {
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
}

.section {
    margin-top: 100px;
    margin-bottom: 100px;
}
/* End Owner: Jackson Mitchell */

/* 
- Owner: Thiluxsaan Puvanendran
- Date: Nov 22 2023
- Font size and style
--------------------------------
- Owner: Jackson Mitchell
- Date Nov 22 2023
- margins
*/
h1{
    font-family: Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 30px;
}

h2{
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-weight: normal;
    font-size:30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h3{
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}
p{ 
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-weight: normal;
    font-size:18px;
}
/* End Owner: Thiluxsaan Puvanendran */
/* End Owner: Jackson Mitchell */

/* Owner: Tyler Rubini
   Date: Nov 22 2023 */
footer {
    font-family: "Crimson Text", serif;
    color: #f1fcff;
    font-family: sans-serif;
    background-color: #000;
}
h4 {
    margin-bottom: 0px;
    color: #f1fcff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.name {
    margin-bottom: 0px;
    color: #f1fcff;
}
.email {
    margin-top: 0px;
    color: DimGray;
}
.column {
    float: left;
    width: 20%;
    color: #f1fcff;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#team {
    text-align: center;
    margin-top: 20px;
}
    
/* End Owner: Tyler Rubini */
